# Build results
[Bb]in/
[Oo]bj/

# Visual Studio files
.vs/
.vscode/
*.user
*.userosscache
*.suo
*.vsidx

# JetBrains Rider files
.idea/

# DevContainer specific
.devcontainer/.env
.docker/

# Logs
logs/

# Docker volumes
**/volumes/

# .NET Core
project.lock.json
artifacts/

# Cursor IDE
.cursor/

# Misc
.fake